<header class="topbar">
  <h1>Projeto Estudo Angular 21+</h1>
  <nav class="menu">
    <a routerLink="/"     routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Início</a>
    <a routerLink="/sobre" routerLinkActive="ativo">Sobre</a>

    @if (auth.isAutenticado()) {
      <a routerLink="/usuarios"  routerLinkActive="ativo">Usuários</a>
      <a routerLink="/produtos"  routerLinkActive="ativo">Produtos</a>
      <a routerLink="/zoneless"         routerLinkActive="ativo">Zoneless</a>
      <a routerLink="/demos"            routerLinkActive="ativo">Demos</a>
      <button type="button" class="btn-sair" (click)="sair()">Sair</button>
    } @else {
      <a routerLink="/login" routerLinkActive="ativo">Login</a>
    }
  </nav>
</header>
