  <header class="topbar">
    <h1>Projeto Angular</h1>
    <nav class="menu">
      <a href="/" routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a href="/cadastro-usuario" routerLink="/cadastro-usuario" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Cadastro</a>
      <a href="/sobre" routerLink="/sobre" routerLinkActive="ativo">Sobre</a>
      <a href="/produtos" routerLink="/produtos" routerLinkActive="ativo">Produtos</a>
    </nav>
  </header>